<div class="w-60px sidebar-height shadow">
    <div class="d-flex flex-column align-items-center gap-3 py-2">
        <!-- Products -->
        <button class="btn px-0 border-0" placement="end" ngbTooltip="Products" routerLink="products">
            <i class="bi bi-box h3" routerLinkActive="text-warning"></i>
        </button>

        <!-- Recipes -->
        <button class="btn px-0 border-0" placement="end" ngbTooltip="Recipes" routerLink="recipes">
            <i class="bi bi-fork-knife h3" routerLinkActive="text-warning"></i>
        </button>

        <!-- Users -->
        <button class="btn px-0 border-0" placement="end" ngbTooltip="Users">
            <i class="bi bi-people h3" routerLinkActive="text-warning"></i>
        </button>

        <!-- Todos -->
        <button class="btn px-0 border-0" placement="end" ngbTooltip="Todos">
            <i class="bi bi-list-check h3" routerLinkActive="text-warning"></i>
        </button>

        <!-- Quotes -->
        <button class="btn px-0 border-0" placement="end" ngbTooltip="Quotes">
            <i class="bi bi-chat-left-quote h3" routerLinkActive="text-warning"></i>
        </button>
    </div>
</div>